<!DOCTYPE html>
{% load static %}

{% block content %}
<html>
    <head>
        <title>My Website</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid page7">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="halo">Halo, apa kabar?</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <form method="POST">
                        {% csrf_token %}
                        {% for form in status_form %}
                            <div class="form-group">
                                {{form.label}}
                                {{form}}
                            </div>
                        {% endfor %}
                        <button id="submit" type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
                </div>
            </div>

            <div class="row page6">
                <div class="col-md-12">
                    <h1 id="status">STATUS</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Status</th>
                                <th scope="col">Jam</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stat in semua_status %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{stat.status}}</td>
                                    <td>{{stat.jam}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}